.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    color: #fff;
    padding: 1rem;
    height:15vh;
}

.created-by {
    font-size: 1.5rem;
}

.name {
    font-size: 2rem;
    margin-right: 1rem;
}

.name:hover {
    text-shadow: 0 0 10px rgb(246, 36, 21);
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}

.person {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
}

.person img {
    width: 2rem;
    height: auto;
    background-color: #fff;
    border-radius: 100%;
}

.github-link,
.linkedin-link {
    transition: 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin-right: 0.7rem;
}

.github-link:hover,
.linkedin-link:hover {
    color: red;
    transform: scale(1.3);
    transition: 0.5s;
}