.header {
    background-image: url('../Images/Stacks\ HEADER.jpg');
    background-size: cover;
    background-position: center;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: rgb(255, 255, 255);
}

.header-link {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

.header h1 {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-item a {
    text-decoration:underline;
    color: white;
    font-size: 1.5rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.bar {
    width: 2.5rem;
    height: 0.3rem;
    background-color: rgb(253, 252, 252);
    border-radius: 0.2rem;
}

@media (max-width: 48rem) {
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 10rem;
        left: 0;
        background-color: rgb(31, 29, 29);
        border-top: 1px solid black;
    }

    .nav.open {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        gap: 1rem;
    }

    .hamburger {
        display: flex;
    }
}
