.header {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: rgb(255, 255, 255);
}

.header-link {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

.logo {
    color: white;
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    gap: 0.38rem;
    background: none;
    border: #600ccf 2px solid;
    cursor: pointer;
    width: fit-content;
}

.bar {
    width: 2.5rem;
    height: 0.3rem;
    background-color: #600ccf;
    border-radius: 0.2rem;
}

/* Dropdown styles */
.dropdown {
    position: absolute;
    top: 10rem; /* Adjust this based on your header height */
    right: 20px; /* Adjust based on your layout */
    background-color: rgb(31, 29, 29);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: fit-content;
    width: 20rem;
    padding-bottom: 1rem;
    transform:translateY(-7.8%)
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

.dropdown-item {
    padding: 1rem;
}

.dropdown-item a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
    .dropdown-item a {
        color: #600ccf;
    }
}
.dropdown-item-profile {
    padding: 1rem;
}
.dropdown-item a:hover {
    color: #600ccf;
}
@media (max-width: 48rem) {
    /* Your existing styles for mobile responsiveness */
}
