.my-stack-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.my-stack-title {
    justify-items: center;
    color: white;
}

.nav-wrap {
    width: 20rem;
    padding: 5rem;
}

.back-to-main {
margin:2rem 2rem ;
}


p {
color: red;
}

.main-gallery-link {
    color: white;
    text-decoration: none;
}

@media (max-width: 64rem) {
    .my-stack-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Phone view */
@media (max-width: 48rem) {
    .my-stack-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-wrap {
        padding: 1rem;
    }

    p {
        font-size: 1.25rem;
    }
}