.my-stack-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.my-stack-title {
    text-decoration: underline;
}
.my-stack-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.nav-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.back-to-main {
    margin-top: 2rem;
}

p {
    font-size: x-large;
}

.main-gallery-link {
    color: white;
    text-decoration: none;
}

@media (max-width: 64rem) {
    .my-stack-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Phone view */
@media (max-width: 48rem) {
    .my-stack-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-wrap {
        padding: 1rem;
    }

    p {
        font-size: 1.25rem;
    }
}