.album-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0.625rem;
    border-radius: 5%;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.373);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    width: 12rem; 
    height: 12rem; 
    position: relative;
}

.album-cards:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.25rem 0.625rem rgba(106, 106, 106, 0.25);
}

.album-cards img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.album-info {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.5);
    color: #fff;
    text-align: center;
    padding: 0.625rem;
    border-radius: 5%; 
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.album-cards:hover .album-info {
    display: flex; 
    opacity: 1; 
    transform: translateY(0); 
}

.album-info h3 {
    margin: 0.3125rem 0;
    font-size: 1rem;
}

.album-info h4 {
    margin: 0.3125rem 0;
    font-size: 0.875rem;
}

.album-info p {
    margin: 0.3125rem 0;
    font-size: 0.875rem;
}


.record-button {
    display:flex;
    justify-content: center;
    align-items: center;
    height:3.75rem;
    width:7rem;
    appearance: none;
    background-color: #0000002b;
    border:.2rem solid white;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    outline: none;
    padding: 1rem;
    margin:2rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8rem;
    will-change: transform;
  }
  
  button:disabled {
    pointer-events: none;
  }
  
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }